<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		 <property name="url" value="jdbc:mysql://121.42.178.99:3306/mmc"> 
		<!-- <property name="url" value="jdbc:mysql://localhost:3306/mmc"> -->
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>

	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 1.指定hibernate的属性配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- <prop key="hibernate.show_sql">true</prop> <prop key="hiberante.format_sql">true</prop> -->
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/huaxiuchina/model/Gp.hbm.xml</value>
				<value>com/huaxiuchina/model/Daydeal.hbm.xml</value>
				<value>com/huaxiuchina/model/User.hbm.xml</value>
				<value>com/huaxiuchina/model/Model.hbm.xml</value>
				<value>com/huaxiuchina/model/Status.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 配置事务管理器
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="transactionBese"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		lazy-init="true" abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="insert*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="modify*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="get*">PROPAGATION_NEVER</prop>
			</props>
		</property>
	</bean>
	
	<bean id="drcjDao" class="com.huaxiuchina.dao.DrcjDao">
		<property name="hibernateTemplate" ref="hibernateTemplate">
		</property>
	</bean>
	<bean id="gpDao" class="com.huaxiuchina.dao.GpDao">
		<property name="hibernateTemplate" ref="hibernateTemplate">
		</property>
	</bean>
	<bean id="daydealDao" class="com.huaxiuchina.dao.DaydealDao">
		<property name="hibernateTemplate" ref="hibernateTemplate">
		</property>
	</bean> -->
	<!-- 声明Hibernate事务管理，注入Session工厂 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- 配置事务代理，注入事务管理transactionManager，由Spring来代理事务，设置事务属性 -->
	<bean id="transactionProxy" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="remove*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- <bean id="userDao" class="com.huaxiuchina.dao.UserDao">
		<property name="hibernateTemplate" ref="hibernateTemplate">
		</property>
	</bean> -->
</beans>